<!DOCTYPE html>
<html>
    <%-include('headpart.ejs')%>
    <style>
        form:not(.choose){display:none;}
    </style>
    <script>
        function toggle(target){
            if(target.innerText === "이미지")
                target.innerText = "동영상";
            else
                target.innerText = "이미지";
            let forms = document.querySelectorAll("form");
            forms.forEach(form=>form.classList.toggle('choose'));
        }
    </script>
    <body>
        <button type="button" onclick="toggle(this)">동영상</button>
        <form class="choose" action="/videos/upload" method="post" 
        enctype="multipart/form-data">
            <input type="text" name="title"><br>
            <input type="text" name="inner"><br>
            <input type="file" name="video"><br>
            <button type="submit">저장</button>
        </form>
        <form action="/images/upload" method="post" 
        enctype="multipart/form-data">
            <input type="text" name="title"><br>
            <input type="text" name="inner"><br>
            <input type="file" name="images" multiple><br>
            <button type="submit">저장</button>
        </form>
    </body>
</html>