<ul style="list-style:none;">
    <li style="display:inline-block; width:100px;"><a href="/boards">게시판</a></li>
    <li style="display:inline-block; width:100px;"><a href="/boards">게시판</a></li>
    <li style="display:inline-block; width:100px;"><a href="/boards">게시판</a></li>
    <li style="display:inline-block; width:100px;"><a href="/boards">게시판</a></li>
</ul>